@using Quizz.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Datos Personales</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="../../Img/Captura.PNG" width="70%"/>
    </div>
    <div class="col-md-4">
        <h2>Carlos Gutiérrez Cerdas</h2>
        <p>Analista y programador en Test Consultores.</p>
        <p>Costa Rica | Servicios y tecnologías de información.</p><br/>
        <p>Actual: Test Data</p>
        <p>Crux Consultores</p>
        <p>Universidad de Costa Rica</p>
    </div>
    
</div>




